body{
    background-image: url(./../PHOTOS/woodback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    width: 150px;
    height: 150px;
    padding-right: 0;
    margin-top: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
}

.Hyperlink{
    text-decoration: none;
    margin-right: 120px;
    color: black;
    position: relative;
    top: -30px;
    transition: 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.index::after, .menu::after, .promo::after, .aboutus::after, .reservation::after{
    background-color: #000000; 
    bottom: -10%;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 5px;
    transition: width 1s;
}

.index:hover::after, .menu:hover::after, .promo:hover::after, .aboutus:hover::after, .reservation:hover::after{
    width:80%;
}

.reservation:hover, .index:hover, .menu:hover, .promo:hover, .aboutus:hover{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.reservation{
    color :white;
    text-shadow: 2px 2px 2px black;
}

.title{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(219, 180, 96);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.title2{
    text-align: center;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin-top: 10px;
    text-shadow: 1px 1px 2px black;
}

.form{
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    margin-top: 4%;
    font-size: 28px;
    color: white;
    margin-bottom: 4%;
}

.formbox{
    justify-content: space-between;
    width: 100%;
    margin: 15px;
    padding: 5px;
}

.formbedit{
    height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.hnrbox{
    font-size: 20px;
    width: 6%;
}

.emailbox{
    width: 15%;
}

.datebox{
    width: 10%;
}

.timebox{
    width: 5%;
}

.personbox{
    width: 6%;
}

.discbox{
    width: 8%;
}

.msgtxt{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 16px;
}

.bttn{
    color: black;
    background-color: white;
    padding: 10px 200px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
}

.bttn:hover{
    transform: scale(1.03);
    box-shadow: 10px 12px 15px black;
    transition: 0.3s;
}

.bttn:active{
    transform: translateY(2px);
}

.footer{
    display: block;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 1px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    background: black;
    padding: 50px 0px;
    color: white;
}

.textfoot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.aboutsfoot{
    font-size: 25px;
    margin-right: 2%;
    color: turquoise;
    text-decoration: none;
}

.reservefoot{
    font-size: 25px;
    margin-left: 8%;
    color: turquoise;
    text-decoration: none;
}

.aboutsfoot:hover, .reservefoot:hover{
    color: white;
    transition: 0.3s;
}

.contactfoot{
    margin-top: 8px;
    font-size: 25px;
    font-weight: bold;
}

.logos{
    display: flex;
    justify-content: center;
}

.socialogo{
    width: 100px;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ytube{
    width: 60px;
    margin-top: 3px;
}

.insta{
    width: 50px;
    margin-top: 1px;
}

.fbook{
    width: 50px;
}

.tweet{
    width: 56px;
}

.copyrightxt{
    font-size: 15px;
}